@font-face {
	font-family: "Exo2";
	src: url(../../assets/fonts/Exo2-Medium.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Exo2";
	src: url(../../assets/fonts/Exo2-Regular.ttf) format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Poppins";
	src: url(../../assets/fonts/Poppins-Medium.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Poppins";
	src: url(../../assets/fonts/Poppins-Regular.ttf) format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Poppins";
	src: url(../../assets/fonts/Poppins-Light.ttf) format("truetype");
	font-weight: light;
}

@font-face {
	font-family: "Lato";
	src: url(../../assets/fonts/Lato-Bold.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Lato";
	src: url(../../assets/fonts/Lato-Regular.ttf) format("truetype");
	font-weight: normal;
}

body {
	font-family: "Lato";
	font-weight: normal;
}
