// colors
$primary-bg-light-color: #DED5C8;
$primary-bg-heavy-color: #BC6C25;
$primary-bg-medium-color: #DDA15E;
$primary-placeholder-light-color:#FEFAE0;
$primary-text-heavy-color: #36332E;
$primary-text-light-color: #FFFFFF;

// breakpoints
$desktop-breakpoint: 128rem;
$tablet-breakpoint: 76.8rem;
$mobile-breakpoint: 32rem;

// radius
$section-radius: 1.5rem;
$element-radius: 0.8rem;

// layout gap space
$desktop-col-gap: 2.4rem;
$tablet-col-gap: 2.4rem;
$mobile-col-gap: 1.6rem;
$desktop-col-gap--edge: 13rem;
$tablet-col-gap--edge: 3.6rem;
$mobile-col-gap--edge: 1.6rem;
$tablet-row-gap:2.4rem;
$mobile-row-gap:1.6rem;
$tablet-row-gap--top: 3.6rem;
$mobile-row-gap--top: 2.4rem;


$form-el-border: 1px solid #d9d9d9;