@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.profile {
	&__saved-route {
		display: flex;
		row-gap: $mobile-row-gap;
		justify-content: center;
	}
	@include desktop {
		background-color: rgb(233, 233, 233);
	}
}
