.input-subfix-button{
    position: absolute;
    right: 0;
    padding: 1rem 1.2rem;

    &__icon{
        height: 2rem;
        width: 2rem;

        &:hover{
            fill: red;
        }
    }
}