@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width:80vw;
	max-width: 40rem;
	padding: 2rem;
	transform: translate(-50%, -50%);
	z-index: 1001;

	background-color: $primary-panel-background-color;
	@include element-shadow;
	border: $element-border;
	border-radius: $section-radius;
	display: flex;
	flex-direction: column;

	&__top-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__close-icon {
		width: 3rem;
	}

	&__close-button {
		width: 3rem;
	}

	&__title {
		font-size: 3rem;
	}

	&__message {
		padding: 2.5rem 0rem;
		font-size: 2rem;
	}

	&__confirm-button {
		border: $element-border;
		font-size: 2rem;
		font-weight: bold;
		padding: 1rem;
		border-radius: $element-radius;
	}

	&__bottom-wrapper{
		display: flex;
		flex-direction:column;
		row-gap: 1rem;
		width: 100%;
	}
}
