@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-controls {
	display: flex;
	flex-direction: column;
	row-gap: $mobile-row-gap;
	background-color: $primary-section-background-color;
	padding: 1rem;
	border-radius: $element-radius;
	border: $element-border;

	&__input-label {
		font-size: 1.4rem;
		width: 40%;
	}

	&__input-group-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__input-wrapper {
		width: 75%;
		display: flex;
	}

	&__input-middle-wrapper {
		width: 60%;
	}
}
