@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.control-button{
    background-color: $primary-bg-heavy-color;
    border-radius: $element-radius;
    padding: 0.8rem 0.8rem;
    font-size: 1.4rem;
    min-width: 6.5rem;


    &--active{
        color: $primary-text-light-color;
    }
}