@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.control-button {
	padding: 0.8rem 0rem;
	font-size: 1.4rem;

	border-bottom: 2px solid;

	&__icon {
		height: 2.4rem;
		width: 2.4rem;
	}

	&--active {
		border-bottom-color: var(--underline);
	}
}
