@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-selector {
	position: absolute;
	font-size: 1.4rem;
	top: 1rem;
	left: 1rem;
	background-color: $primary-panel-background-color;
	border: $element-border;
	border-radius: $section-radius;
	display: flex;

	@include desktop {
		top: 2rem;
		left: 2rem;
	}

	&__title {
		padding: 1rem;
		border-right: $element-border;
	}
	&__button {
		padding: 1rem;
		border-right: $element-border;

		&--active {
			background-color: $primary-info-background-color;
			color: $primary-text-light-color;
		}
	}

	&__path-text {
		font-size: 1.4rem;
	}

	&__show-all-button {
		padding: 1rem;
		border-top-right-radius: $section-radius;
		border-bottom-right-radius: $section-radius;
		&--active {
			background-color: $primary-info-background-color;
			color: $primary-text-light-color;
		}
	}
}
