@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.header {
	background-color: $primary-bg-light-color;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	border: $el-border;
	border-bottom-left-radius: $section-radius;
	border-bottom-right-radius: $section-radius;

	@include el-shadow;

	@include desktop {
		position: absolute;
		top: 2rem;
		right: 3rem;
		z-index: 1000;
		border-radius: $element-radius;
		padding: 0;
	}

	&__logo {
		height: 3rem;

		@include desktop {
			display: none;
		}
	}

	&__signin-button{
        border-radius: $el-border;
		margin: 0;
        &-text {
            font-size: 1.6rem;
            font-family: "Poppins";
            font-weight: 300;
            text-decoration: underline;
            text-decoration-color: blue;
            line-height: 1rem;

			@include desktop {
				font-size: 1.8rem;
				text-decoration: none;
				margin: 1.5rem 2rem 1.5rem 0.8rem;
			}
        }
    }

	&__profile-icon{
		width: 3rem;
	}

	&__profile{
		@include desktop{
			margin: 0.5rem 1rem 0.5rem 0rem;
		}
	}
}
