@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.header {
	background-color: $primary-panel-background-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $mobile-row-gap $mobile-col-gap;
	border: $element-border;
	border-bottom-left-radius: $section-radius;
	border-bottom-right-radius: $section-radius;
	height: 5vh;
	@include element-shadow;

	@include tablet {
		padding: $tablet-row-gap $tablet-col-gap;
	}

	@include desktop {
		position: absolute;
		height: auto;
		top: 2rem;
		right: 3rem;
		z-index: 1000;
		border-radius: $element-radius;
		padding: 0;
	}

	&__logo {
		height: 2rem;

		@include desktop {
			display: none;
		}
	}

	&__signin-button {
		border-radius: $element-border;
		margin: 0;
		@include desktop {
			&--profile {
				display: none;
			}
		}

		&-text {
			font-size: 1.6rem;
			font-family: "Poppins";
			font-weight: 300;
			text-decoration: underline;
			text-decoration-color: blue;
			line-height: 1rem;

			@include desktop {
				font-size: 1.8rem;
				text-decoration: none;
				margin: 1.5rem 2rem;
			}
		}
	}

	&__profile-icon {
		width: 2rem;

		&-text {
			font-size: 1.2rem;

			@include tablet {
				font-size: unset;
			}
		}
	}

	&__profile {
		display: flex;
		align-items: center;

		@include tablet {
			flex-direction: column;
		}

		@include desktop {
			padding: 1rem;
		}
	}
}
