@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-place-list {
	display: flex;
	overflow-x: scroll;
	padding-bottom: 1rem;
	width: 100.2%;

	@include scrollbar;

	&__wrapper {
		display: flex;
	}

	&__next-icon {
		width: 4rem;
		margin: 1rem;
	}
}
