@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-submit-button {
	background-color: white;
	height: 4rem;
	border-radius: $element-radius;
	font-size: 1.8rem;
	color: #455eed;
    border: 1px solid #455eed;

	&:hover {
		background-color: #455eed;
		color: white;
	}
}
