@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-submit-button {
	background-color: $primary-cta-button-background-color;
	height: 4rem;
	border-radius: $element-radius;
	font-size: 1.8rem;
	color: $primary-cta-button-color;
	border: 1px solid $primary-cta-button-color;

	&:hover {
		background-color: $primary-cta-button-color;
		color: $primary-text-light-color;
	}
}
