@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;


.route-submit-button{
    background-color:#455eed;;
    height: 4rem;
    border-radius: $element-radius;
    font-size: 1.8rem;
    color: white;
}