@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.profile-info{
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    @include desktop{
        height: 100%;
        width: 100%;
    }
}
