@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.map-button {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 4rem;
	height: 4rem;
	padding: 0.8rem 0.8rem;
	font-size: 1rem;
	background-color: $primary-button-background-color;
	@include element-shadow;

	@include desktop {
		&:hover {
			background-color: $primary-text-light-color;

			& > .map-button__icon {
				fill: unset;
			}
		}
	}

	&__icon {
		fill: white;
	}

	&--active {
		color: $primary-text-light-color;
		background-color: $active-button-background-color;

		&  > .map-button__icon {
			fill: black;
		}
	}
}
