@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-panel {
	background-color: $primary-background-color;
	border: $element-border;
	padding: $mobile-row-gap $mobile-col-gap;
	height: auto;
	display: flex;
	flex-direction: column;
	row-gap: $mobile-row-gap;

	@include tablet {
		padding: $tablet-row-gap $tablet-col-gap;
	}

	&__top-wrapper {
		display: flex;
		align-items: center;
		align-content: center;
		column-gap: 1rem;
		justify-content: space-between;
	}

	&__top-left-wrapper {
		display: flex;
		align-items: center;
	}

	&__save-icon {
		width: 2rem;
		fill: red;
	}

	&__show-map-button {
		border: $element-border;
		border-radius: $element-radius;
		padding: 1rem;

		&:hover {
			background-color: $secondary-button-background-color;
			color: $primary-text-light-color;
		}
	}

	&__title {
		font-size: 1.5rem;
	}

	&__route-number {
		display: flex;
		column-gap: 1rem;
		padding-right: 2rem;
	}

	&__route-distance,
	&__route-distance {
		padding: 0.5rem 0.8rem;
		border-radius: 1rem;
		border: $element-border;
		background-color: $primary-info-background-color;
		color: $primary-text-light-color;
	}
}
