@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.route-panel {
	background-color: $primary-background-color;
	border: $element-border;
	padding: $mobile-row-gap $mobile-col-gap;
	height: auto;
	display: flex;
	flex-direction: column;
	row-gap: $mobile-row-gap;

	&__top-wrapper {
		display: flex;
		align-items: center;
		align-content: center;
		column-gap: 1rem;
		justify-content: space-between;
	}

	&__top-left-wrapper {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}

	&__title {
		font-size: 1.4rem;
	}

	&__route-number {
		display: flex;
		column-gap: 0.5rem;
		font-size: 1.2rem;

		@include tablet {
			column-gap: 1rem;
		}

		@include desktop {
			padding-right: 2rem;
		}
	}

	&__route-unit {
		display: none;
		@include tablet{
			display: unset;
		}
	}

	&__route-distance {
		padding: 0.5rem 0.8rem;
		border-radius: 1rem;
		border: $element-border;
		background-color: $primary-info-background-color;
		color: $primary-text-light-color;
	}
}
