@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.control-menu {
    position: fixed;
    bottom: 0;

    &__group{
        background-color: $primary-placeholder-light-color;
        margin: 1rem;
        border-radius: $section-radius;
        width: 100%;
    }
}

.tab-content{
    width: 100%;
    padding: $mobile-row-gap $mobile-col-gap;

    &__wrapper{
        height: 100%;
    }
}
