@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.control-menu {
    max-width: 100vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);


    &__group{
        background-color:rgb(252, 252, 253);
        padding: $mobile-row-gap $mobile-col-gap;
        // margin: 1rem;
        border-radius: $section-radius;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: $mobile-row-gap;
        @include el-shadow;
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        display: none;
        
        &--active{
            display: block;
        }
    }
}

.tab-content{
    width: 100%;

    &__wrapper{
        height: 100%;
    }
}
