@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.control-menu {
	width: 100vw;
	padding: $mobile-row-gap;
	background-color: $primary-panel-background-color;
	border: $element-border;
	border-top-left-radius: $section-radius;
	border-top-right-radius: $section-radius;
	max-width: 40rem;
	max-height: 85vh;
	overflow-y: auto;

	@include desktop {
		position: unset;
		border: unset;
		border-radius: $section-radius;
		max-height: 100vh;
		@include scrollbar;

		&--collapsed {
			position: fixed;
			top: 2rem;
			left: 2rem;
			height: 7rem;
			border: $element-border;
		}
	}

	&--hidden {
		display: none;

		@include desktop {
			display: unset;
		}
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		margin-bottom: $mobile-row-gap;
	}

	&__toggle {
		display: none;
		width: 100%;

		&--active {
			display: block;
		}
	}

	&__toggle-wrapper {
		display: block;
		width: 100%;
	}

	&__toggle-button {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
