@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.tabs{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding: $mobile-row-gap $mobile-col-gap;
}