@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.tabs{
    display: flex;
}

.tab{
    background-color: $primary-bg-heavy-color;
    border-top-left-radius: $element-radius;
    border-top-right-radius: $element-radius;
    padding: 0rem 0.8rem;
    margin-left: 0.4rem;
    font-size: 1.4rem;

    &--active{
        color: $primary-bg-light-color;
    }
}